.NavBg {
    background-color: #66a3bf;
    border: #5391ae 1px solid;
}

.borderBlue {
    border-color: #5391ae !important;
}
.textGrey a{
    color: rgb(235, 235, 235) !important;
}
.textDark a,.textDark a:hover{
    color: rgb(45, 45, 45);
}
