.bgHome {
    background-image: url('../imgs/course/coursePage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.bgHome::before{
    content: '';
    position: absolute;
    height: 350px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}
