html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-blue {
  color: #66a3bf;
}

.text-sm {
  font-size: 15px;
}

.text-xs {
  font-size: 13px;
}

.text-sans {
  font-family: sans-serif;
}

.center {
  margin: 0 auto;
}

.mt-xl {
  margin-top: 33vh;
}

.mt-lg {
  margin-top: 20vh;
}

.h-full {
  height: 100vh;
}

@media (max-height:510px) {
  .h-full {
    height: 550px !important;
  }
}

.h-md {
  height: 420px;
}

.h-smpx {
  height: 200px;
}
.h-mdpx{
  height: 300px;
}
.center-both {
  padding: 100%;
}

.btn-blue {
  background-color: #0096db !important;
  color: white !important;
  border: #0096db 1px solid !important;
}

.btn-blue:hover {
  background-color: #006fa2 !important;
  color: white !important;
  border: #006fa2 1px solid;
}

.circle {
  height: 23px;
  width: 25px;
  text-align: center;
  padding: 6px 0 !important;
}

.z-10 {
  z-index: 10;
}

.border-grey {
  border-color: rgb(177, 177, 177) !important;
}

.top-neg {
  top: -30px;
}

.text-serif {
  font-family: 'Tiro Bangla', serif;
  letter-spacing: 2px;
}

.text-dgrey {
  color: rgb(192, 192, 192);
}

.hr {
  width: 50px;
  height: 1.5px;
  background-color: black;
  opacity: .7;
}

.text-blue {
  color: #0096db !important;
}

.bg-blue {
  background-color: #006fa2 !important;
}

.hr-sm {
  height: 1px !important;
  opacity: 0.1;
}

.c-pointer {
  cursor: pointer;
}

@media (max-width: 1199px) {
  .soloCourses .h3 {
    font-size: 25px !important;
  }

  .display-5 {
    font-size: 3.5vw;
  }
}

.bg-lBlue {
  background-color: #f6f9ff;
}

.bg-lgrey {
  background-color: #f2f2f2 !important;
}

.text-purple {
  color: #012970 !important;
}

.lh-md {
  line-height: 25px !important;
}

.mt-10 {
  margin-top: 100px;
}

@media (max-width:991px) {
  .home_bgHome__pHp_R .display-3 {

    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
  }
}

.text-ldark {
  color: rgb(61, 61, 61) !important;
}
.top-bg-neg{
  top: -140px;
}