.Rounded10 {
    border-radius: 10px;
}

.btnBlue {
    color: rgb(95, 119, 130);
}

.overflow {
    overflow: clip !important;
}

.htMd {
    height: 75vh;
}

.bgHome {
    background-image: url('../imgs/home.jpg');
}

.bgHome,
.bgCont,
.bgSubs {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgHome::before,
.bgCont::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.CarouselEnd,
.CarouselStart {
    height: 30px;
    width: 30px;
    color: black;
    border: 1px solid black;
    background: none;
}

.CarouselEnd:hover,
.CarouselStart:hover {
    border: 1px #0096db solid !important;
    color: #0096db;
}

.Carousel {
    top: -70px;
    right: 0px;
}